@font-face
{
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/MajorMonoDisplay-Regular.ttf);
}

#app
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  font-size: 0.8vh;
  text-transform: lowercase;
  background-color: hsl(0, 0%, 12%);
  letter-spacing: 0.08em;
}
#records > * + *
{
  margin-top: 0.2em;
}
.details
{
  position: relative;
  white-space: nowrap;
  color: hsl(0, 0%, 70%);
  padding: 2px 2px 1px;
}
.details::before
{
  content: '';
  display: block;
  position: absolute;
  top: 0.5em;
  left: -0.7em;
  width: 0.4em;
  height: 0.4em;
  background-color: hsl(0, 0%, 20%);
  border-radius: 50%;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 0.1s;
}
.details.active::before
{
  background-color: hsl(0, 0%, 90%);
}
.details > * + *::before
{
  content: ' ';
}